#text {
  width: 600px;
}

#text path:nth-child(2) {
  stroke-dasharray: 518;
  stroke-dashoffset: 518;
  animation: fill-animate 3s ease forwards;
  stroke: #fff;
}
#text path:nth-child(3) {
  stroke-dasharray: 329;
  stroke-dashoffset: 329;
  animation: fill-animate 3s ease forwards 0.3s;
  stroke: #fff;
}
#text path:nth-child(4) {
  stroke-dasharray: 391;
  stroke-dashoffset: 391;
  animation: fill-animate 3s ease forwards 0.6s;
  stroke: #fff;
}
#text path:nth-child(5) {
  stroke-dasharray: 352;
  stroke-dashoffset: 352;
  animation: fill-animate 3s ease forwards 0.9s;
  stroke: #fff;
}
#text path:nth-child(6) {
  stroke-dasharray: 329;
  stroke-dashoffset: 329;
  animation: fill-animate 3s ease forwards 1.2s;
  stroke: #fff;
}

#text path:nth-child(7) {
  stroke-dasharray: 298;
  stroke-dashoffset: 298;
  animation: fill-animate 3s ease forwards 1.5s;
  stroke: #fff;
}
#text path:nth-child(8) {
  stroke-dasharray: 329;
  stroke-dashoffset: 329;
  animation: fill-animate 3s ease forwards 1.8s;
  stroke: #fff;
}
#text path:nth-child(9) {
  stroke-dasharray: 298;
  stroke-dashoffset: 298;
  animation: fill-animate 3s ease forwards 2.1s;
  stroke: #fff;
}
#text path:nth-child(10) {
  stroke-dasharray: 329;
  stroke-dashoffset: 329;
  animation: fill-animate 3s ease forwards 2.4s;
  stroke: #fff;
}
#text path:nth-child(11) {
  stroke-dasharray: 329;
  stroke-dashoffset: 329;
  animation: fill-animate 3s ease forwards 2.7s;
  stroke: #fff;
}
#text path:nth-child(12) {
  stroke-dasharray: 329;
  stroke-dashoffset: 329;
  animation: fill-animate 3s ease forwards 3s;
  stroke: #fff;
}
#text path:nth-child(13) {
  stroke-dasharray: 329;
  stroke-dashoffset: 329;
  animation: fill-animate 3s ease forwards 3.3s;
  stroke: #fff;
}

@keyframes fill-animate {
  to {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
