@media screen and (max-width: 512px) {
  .svg-image {
    width: 300px;
    height: 200px;
  }
  body {
    font-size: 0.6rem;
  }
  .svg-text {
    width: 300px;
  }
  .infomation {
    margin-top: -180px;
  }
  .website-image {
    width: 300px;
  }
  .topic-image {
    width: 300px;
  }
  .topic {
    margin: 10px 100px;
    width: 80%;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 1450px) {
  .header {
    margin-top: -80px;
    display: nonbe;
  }
  .image {
    margin-top: 10px;
    margin-left: 0px;
  }
  .web-info {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 1300px) {
  #book-land {
    margin-right: 0px;
  }
}
