@media only screen and (max-width: 1450px) {
  .header {
    margin-top: -80px;
  }
  .image {
    margin-top: 50px;
  }
  #bookland {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 1316px) {
  #bookland {
    margin-left: 0px;
  }
}
