@font-face {
  font-family: fira-code;
  src: url("../font/FiraCode.ttf");
}
body {
  font-size: 1rem;
  font-family: fira-code;
  background-color: #fff;
  color: black;
  overflow-x: hidden;
}

li {
  display: inline;
  margin-right: 100px;
  font-weight: bold;
  cursor: pointer;
}

.nav-bar {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 2000px;
  position: absolute;
}
.infomation {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -90px;
}
.about-me {
  display: flex;
  justify-content: center;
}

#main-image {
  width: 800px;
}
#welcome {
  margin-top: 200px;
}
.fas-btn {
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
}
.fa-circle {
  font-size: 1.2rem;
  color: black;
}

#left-btn {
  position: absolute;
  top: 50%;

  margin-right: 50%;
}
#right-btn {
  position: absolute;
  top: 50%;
  margin-left: 95%;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.fade-in {
  display: flex;
  margin-left: 0px;
  transition: margin-left ease-in-out 0.8s;

  justify-content: center;
  height: auto;
}
.image {
  margin-top: 100px;
  margin-left: 40px;
}
.slide-to-right {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 0px;
  margin-left: -2500px;
}
.slide-to-left {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 0px;
  margin-left: 2500px;
}

#about {
  flex-direction: column;
  align-items: center;
  padding: 0px 100px;
}
#skill {
  flex-direction: column;
  align-items: center;
  padding: 0px 100px;
}
.skill-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-icon {
  margin-left: 10px;
  width: 32px;
}

#mid-col {
  padding: 0 100px;
}

#contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}
#contact-info > a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  padding: 0px 30px;
  transition: all 0.5s;
}
#contact-info > a:hover {
  font-size: 2.5rem;
}
#introduce {
  width: 650px;
  font-size: 1rem;
}
#personal-info {
  display: flex;
  align-items: center;
}
#hello-img {
  width: 300px;
  margin-right: 50px;
}
#github-skill {
  font-size: 1.5rem;
  margin-left: 10px;
}
.fa-file-download {
  margin-left: 10px;
  font-size: 1.5rem;
}

#cv-download {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #27283d;
  border-radius: 10px;
  border: #27283d solid;
  font-weight: bold;
  transition: all 0.5s;
  font-size: 11px;
}
#cv-download:hover {
  padding: 15px;
  font-size: 12px;
}

.background {
  position: fixed;

  width: 100vw;
  height: 100vh;
  color: aqua;
}
